<body class="group-page">
    <div class="market-price-container">
        <h2 class="market-price-heading">Market Prices</h2>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        

        <table class="market-price-table">
            <thead>
                <tr>
                    <th>Crop</th>
                    <th>Current Price (₹/kg)</th>
                </tr>
            </thead>
            <tbody id="market-price-title " >
                <tr>
                    <td>Wheat</td>
                    <td>₹25</td>
                </tr>
                <tr>
                    <td>Rice</td>
                    <td>₹40</td>
                </tr>
                <tr>
                    <td>Tomato</td>
                    <td>₹30</td>
                </tr>
                <tr>
                    <td>Potato</td>
                    <td>₹20</td>
                </tr>
                <tr>
                    <td>Onion</td>
                    <td>₹35</td>
                </tr>
            </tbody>
        </table>
        
    </div>
</body>